* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

button {
  background: rebeccapurple;
  color: #fff;
  font-size: 18px;
  width: 120px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

button + button {
  margin-left: 1rem;
}

section {
  margin-top: 2rem;

  display: flex;
}